.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background-color: #c4c3c3;
  .login-contents {
    padding: 50px;
    margin: 50px;
    max-width: 600px;
    border: 1px solid #c4c3c3;
    border-radius: 10px;
    background-color: white;
    .submit-btn {
      background-color: #1976d2;
      color: white;
      text-transform: capitalize;
    }
  }
}
