.user-dialog {
  .btn-submit {
    background-color: #1976d2;
    color: white;
    border: 1px solid #1976d2;
    text-transform: capitalize;
  }
  .btn-cancel {
    background-color: white;
    color: black;
    border: 1px solid gray;
    text-transform: capitalize;
  }
}
