.user-page {
  background-color: #e9ecef;
  height: 100vh;
  .header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
    color: white;
    .icon-btn {
      border-radius: 10px;
      background-color: red;
      .log-icon {
        color: white;
      }
    }
  }
  .users-container {
    .users {
      background-color: white;
      padding: 50px;
      margin: 50px;
      border-radius: 10px;
      .btn-create {
        background-color: #1976d2;
        margin-left: 10px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
      }
      .custom-user-card {
        position: relative;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 16px;
        background-color: white;
        &:hover {
          backdrop-filter: blur(2px) saturate(100%);
          -webkit-backdrop-filter: blur(2px) saturate(100%);
          background-color: rgba(166, 166, 166, 0.6);
        }
        &:hover .overlay-actions {
          opacity: 1;
          transform: translatex(-50%);
        }

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .avatar-img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 16px;
        }

        .user-name {
          font-weight: 600;
        }

        .user-email {
          color: #999;
        }

        .overlay-actions {
          position: absolute;
          top: 90px;
          left: 50%;
          transform: translate(-50%, 0);
          display: flex;
          gap: 12px;
          opacity: 0;
          transition: all 0.3s ease;
          z-index: 2;

          .action-btn {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

            &.edit {
              background-color: #8f7ef3;
            }

            &.delete {
              background-color: #f44336;
            }
          }
        }
      }
      .btn-prime {
        background-color: #1976d2;
        color: white;
        border: 1px solid #1976d2;
        border-radius: 5px;
      }
      .blue {
        color: #1976d2;
      }
      .btn-error {
        background-color: red;
        color: white;
        border: 1px solid red;
        border-radius: 5px;
      }
    }
  }
}
